In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn
import pprint

plt.style.use('seaborn-v0_8-paper')

In [2]:
no_tranaction = pd.read_csv("all_account_without_transactions .csv", index_col=['Account ID'])

In [4]:
no_tranaction.dtypes

Account Type                object
Full Name (F)               object
Company Name                object
Full Street Address (F)     object
City                        object
State/Province              object
Email 1                     object
All Donation Amount        float64
All Order Amount           float64
All Registration Amount    float64
Unnamed: 11                float64
dtype: object

In [6]:
no_tranaction.drop(['Unnamed: 11'], axis = 1, inplace=True)

In [7]:
no_tranaction.columns

Index(['Account Type', 'Full Name (F)', 'Company Name',
       'Full Street Address (F)', 'City', 'State/Province', 'Email 1',
       'All Donation Amount', 'All Order Amount', 'All Registration Amount'],
      dtype='object')

In [10]:
no_tranaction.head(10)

,Account Type,Full Name (F),Company Name,Full Street Address (F),City,State/Province,Email 1,All Donation Amount,All Order Amount,All Registration Amount
Account ID,,,,,,,,,,
6,Company,NaN,Miller and Sons,NaN,NaN,NaN,NaN,0.0,0.0,0.0
262,Individual,Carly Barber-Callaghan,NaN,5901 Malabar Lane,Madison,WI,carlymmccabe@gmail.com,0.0,0.0,0.0
151,Individual,Amy Bass,NaN,6125 Roseberg Rd,Madison,WI,amyg123@gmail.com,0.0,0.0,0.0
5944,Individual,Mitch Brey,The Dawe Charitable Foundation,NaN,NaN,NaN,mitchbrey@gmail.com,0.0,0.0,0.0
156,Individual,Jenny Brugger,NaN,1010 N. Sunnyvale Ln. Unit B,Madison,WI,jennybrugger1970@gmail.com,0.0,0.0,0.0
279,Individual,John Bruner,NaN,6226 Adobe Way,Madison,WI,Jbruner88@gmail.com,0.0,0.0,0.0
5949,Individual,Tia Bunz,NaN,NaN,NaN,NaN,Tiabunz@gmail.com,0.0,0.0,0.0
5950,Individual,Kaleem Caire,Pierce Family Foundation,NaN,NaN,NaN,kcaire@onecityearlylearning.org,0.0,0.0,0.0
254,Individual,JODI CARLSON,NaN,942 MOHICAN PASS,MADISON,WI,jcsquared09@gmail.com,0.0,0.0,0.0
5954,Individual,Lindsey Christensen,1901 Inc.,NaN,NaN,NaN,Linzchristensen11@gmail.com,0.0,0.0,0.0

In [11]:
no_tranaction.loc[6]

Account Type                       Company
Full Name (F)                          NaN
Company Name               Miller and Sons
Full Street Address (F)                NaN
City                                   NaN
State/Province                         NaN
Email 1                                NaN
All Donation Amount                    0.0
All Order Amount                       0.0
All Registration Amount                0.0
Name: 6, dtype: object

In [16]:
no_tranaction[no_tranaction["Full Name (F)"] == "Rebecca Schwartz"].index

Index([45], dtype='int64', name='Account ID')

In [19]:
no_tranaction.loc[45]

Account Type                        Individual
Full Name (F)                 Rebecca Schwartz
Company Name                               NaN
Full Street Address (F)    2019 Coolidge Ct
City                                 Middleton
State/Province                              WI
Email 1                                    NaN
All Donation Amount                        0.0
All Order Amount                           0.0
All Registration Amount                    0.0
Name: 45, dtype: object

In [20]:
no_tranaction[no_tranaction["Full Name (F)"] == "Ann Nymann"].index

Index([], dtype='int64', name='Account ID')